<!doctype html>
<html lang="en">

<head>
    <title> {% block title %} {% endblock %} </title>
    {% include "_head.jinja" %}
</head>

<body>
<header>
    <h1> Vitajte na mojom Blogu </h1>
</header>

{% include "_nav.jinja" %}

<main>
    {% block main %} {% endblock %}
</main>

{% include "_footer.jinja" %}
</body>
</html>